<ion-modal-view>
    <ion-header-bar class="bar-stable item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="userDataParams.termino" ng-change="getUsers()">
        </label>
        <button class="button button-clear button-positive" ng-click="closeSearchUser(); userDataParams.termino = '';">
            Cancel
        </button>
    </ion-header-bar>
    <ion-content class="ion-content-custom">
        <div data-ng-include="'templates/users-list.html'"></div>
    </ion-content>
</ion-modal-view>
