<ion-view ng-init="initChat()">
    <ion-nav-buttons side="left">
        <button nav-direction="back" class="button button-clear button-icon button-positive icon ion-ios-arrow-back white-text"
                ng-click="goToChatList()">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <span ng-if="codeAgent == constants.USERS.NICOLE.CODE">Nicole</span>
        <span ng-if="codeAgent == constants.USERS.DAVID.CODE">David</span>
    </ion-nav-buttons>
    <!-- <ion-nav-buttons side="right">
        <span class="badge avatar-badge avatar-badge" 
                ng-class="{'badge-female':userToChat.sexo=='F', 'badge-male':userToChat.sexo=='M'}"
                ng-if="userToChat.sexo == 'M' || userToChat.sexo == 'F'">
            <i class="icon ion-male" ng-if="userToChat.sexo == 'M'"></i>
            <i class="icon ion-female" ng-if="userToChat.sexo == 'F'"></i>
        </span>
    </ion-nav-buttons> -->

    <ion-nav-title>
        <img ng-src="{{userToChat.fotos[0].foto}}" class="chat-image">
        <spam class="upercase">
            {{userToChat.nombre + ' ' +  userToChat.apellido}}
        </spam>
    </ion-nav-title>

    <ion-content class="padding ion-content-custom">
        <div style="height: 10px"></div>
        <div class="list border-none me" ng-repeat="message in chat"
             ng-if="chat.length">
            <!-- Mensaje que envían los usuarios de Cingle -->
            <div class="item item-avatar-s chat-friend no-background" 
                    ng-if="!isCingleAgent(message.user_p) && message.mensaje">
                <!-- <img ng-src="http://graph.facebook.com/{{userToChat.idfacebook}}/picture?type=square"> -->
                <p class="chat-text stable-bg chat-text-transparent"> {{message.mensaje}}</p>
            </div>
            <!-- Mensaje que envía "Nicole" o "David" -->
            <div class="item item-avatar-right-s chat-me text-right no-background" 
                    ng-if="isCingleAgent(message.user_p) && message.mensaje">
                <!-- <img ng-src="{{getAgentPathImg(message.user_p)}}"> -->
                <p class="chat-text positive-bg text-left"> {{message.mensaje}}</p>
            </div>
        </div>

        <div class="empty-des text-center padding" ng-if="chat.length == 0">
            <div style="height: 100px"></div>
            <div>
                <h3 class="stable white-text">Start a conversation</h3>
                <h4 class="stable white-text"><b>{{userToChat.nombre + ' ' +  userToChat.apellido}}</b> is on Messenger and will get your messages instantly.</h4>
            </div>
        </div>
    </ion-content>

    <ion-footer-bar class="bar-stable chat-bar" keyboard-attach>
        <form class="row" name="theform">
            <input class="col col-75" 
                    type="text" 
                    ng-model="chatText" 
                    placeholder="Type a message" 
                    ng-minlength="1" 
                    ng-required="true"
                    ng-focus="scrollBottom()">
            <button class="col button positive-style" 
                    ng-click="sendMessage(chatText); chatText = null" 
                    ng-disabled="theform.$invalid || sendButton.loading">
                {{sendButton.currentText}}
            </button>
        </form>
    </ion-footer-bar>

</ion-view>
